/* This file is only for styles that apply to the entire html */
/* DO NOT put classes or component-level styles in here */

body {
  background: #202020;
  box-sizing: border-box;
}

a {
  color: orange;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #e9e9e9;
}